# Importing, Reading and Manipulating Data with ACTUAL LITERAL PANDAS

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - but Pandas is a great library to work with relational data. 

[Check out the documentation!](https://pandas.pydata.org/pandas-docs/stable/) (always a great idea)

Before we get into Pandas, let's talk about Numpy for a second. Numpy stands for "Numerical Python" and it's designed for high-level mathematical functions and computing functionality. It uses multi-dimensional arrays to store data, which is more convenient and more optimized than a 'pure' Python type. What that means is that Numpy is fast - faster than base Python. 

We're not going to go into a lot of Numpy functionality here, but here's something cool - Pandas is built on top of Numpy! That means they work really well together, and that Pandas has some math functionality already built in.

If you'd like to read more about Numpy and Pandas, [here is an interesting blog post](https://cloudxlab.com/blog/numpy-pandas-introduction/) discussing them.

Let's dive into some data from the Austin Animal Shelter. 

Data source: [intakes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) and [outcomes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238).

Today we'll be working with the intakes data, which I've already downloaded and included in the repository.

In [1]:
# Import
import pandas as pd

Before reading in the data, we need to know what format the data is in and where exactly the data can be found, so we can tell Pandas what to do.

In [2]:
# Where is our data?
!ls

00-Orientation.pdf
01-WhatIsDataScience.pdf
02-Terminal-Git-Github.pdf
03-Python-Loops-and-Functions-Lindsey.ipynb
03-Python-Loops-and-Functions.ipynb
04-Pandas-Introduction.ipynb
04-Pandas-Introduction_Complete.ipynb
05-Pandas-Practice.ipynb
Week1-PythonReview
Week2-PythonChallenge
complete-notebooks
data
images

In [3]:
# Read in the comma-separated-value (csv) document as df
df = pd.read_csv('data/Austin_Animal_Center_Intakes_10-08-20.csv', 
                 parse_dates=['DateTime'])

What options do we have when we read in a csv? Let's look at the documentation!

[Convenient link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

I happen to know that there is a column in the data named 'DateTime' - let's use an argument to read it in as a datetime object, then discuss.

### Initial Exploration of a Dataframe

Questions to ask yourself:

- How big is the data?
- Are there any empty cells? 
- What are the datatypes of the columns of data?

In [4]:
# What does this dataframe look like?
# Check out the first 5 rows
df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [5]:
# Check out the shape of the df
df.shape

(121051, 12)

In [6]:
# And then the size
df.size

1452612

In [7]:
# And then look at some info on the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121051 entries, 0 to 121050
Data columns (total 12 columns):
Animal ID           121051 non-null object
Name                82843 non-null object
DateTime            121051 non-null datetime64[ns]
MonthYear           121051 non-null object
Found Location      121051 non-null object
Intake Type         121051 non-null object
Intake Condition    121051 non-null object
Animal Type         121051 non-null object
Sex upon Intake     121050 non-null object
Age upon Intake     121051 non-null object
Breed               121051 non-null object
Color               121051 non-null object
dtypes: datetime64[ns](1), object(11)
memory usage: 11.1+ MB

In [8]:
# Describe the columns
df.describe()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,121051,82843,121051,121051,121051,121051,121051,121051,121050,121051,121051,121051
unique,108222,19359,85336,85336,52519,6,10,5,5,51,2597,587
top,A721033,Max,2016-09-23 12:00:00,09/23/2016 12:00:00 PM,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,548,64,64,22227,84625,105629,68571,39184,21295,30770,12679
first,NaN,NaN,2013-10-01 07:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2020-10-05 22:48:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**A note on `.describe()`:** this function behaves differently whether we feed in objects or numeric types. We'll explore this more later.

**And a question:** You see that some of the ways we dealt with our dataframe required `()` and some did not - why is that?

- Attributes vs. methods!

### Accessing Columns

Use brackets and the exact column name to access a particular column.

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
# Access specific columns here
type(df['Color'])

pandas.core.series.Series

In [11]:
df['Color'].head()

0       Tricolor
1    White/Liver
2    Sable/White
3         Calico
4       Tan/Gray
Name: Color, dtype: object

In [12]:
df[['Color', 'Name', 'Breed']].head()

         Color     Name                                  Breed
0     Tricolor   *Brock                             Beagle Mix
1  White/Liver    Belle               English Springer Spaniel
2  Sable/White  Runster                            Basenji Mix
3       Calico      NaN                 Domestic Shorthair Mix
4     Tan/Gray      Rio  Doberman Pinsch/Australian Cattle Dog

In [13]:
df.Color

0            Tricolor
1         White/Liver
2         Sable/White
3              Calico
4            Tan/Gray
             ...
121046          Black
121047     Fawn/White
121048    Brown/White
121049     Gray/White
121050    White/White
Name: Color, Length: 121051, dtype: object

### Dealing with Datetime Objects

You can access parts of a datetime object using `.dt` - an attribute of the column, not a method!

In [14]:
df['DateTime']

0        2019-01-03 16:19:00
1        2015-07-05 12:59:00
2        2016-04-14 18:43:00
3        2013-10-21 07:59:00
4        2014-06-29 10:38:00
                 ...
121046   2020-10-05 17:05:00
121047   2020-10-05 17:28:00
121048   2020-10-05 20:57:00
121049   2020-10-05 20:57:00
121050   2020-10-05 22:48:00
Name: DateTime, Length: 121051, dtype: datetime64[ns]

In [15]:
# Let's check out the intake year, then other aspects of the date
df['DateTime'].dt.year

0         2019
1         2015
2         2016
3         2013
4         2014
          ...
121046    2020
121047    2020
121048    2020
121049    2020
121050    2020
Name: DateTime, Length: 121051, dtype: int64

In [16]:
df['Name'].str.lower()

0          *brock
1           belle
2         runster
3             NaN
4             rio
           ...
121046        NaN
121047    duchess
121048        NaN
121049        NaN
121050      rocky
Name: Name, Length: 121051, dtype: object

In [17]:
# How do we create a new column?
# Let's create a new column for intake year
df['Intake Year'] = df['DateTime'].dt.year

In [18]:
# Check our work
df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

In [19]:
# What datatype is the data in our new column?
intake_year_desc = df['Intake Year'].describe()

In [20]:
intake_year_desc

count    121051.00000
mean       2016.59769
std           1.97386
min        2013.00000
25%        2015.00000
50%        2017.00000
75%        2018.00000
max        2020.00000
Name: Intake Year, dtype: float64

In [21]:
df['Intake Year'].mean()

2016.597690229738

In [22]:
df.index

RangeIndex(start=0, stop=121051, step=1)

### Checking for Null Values

Can use `.isna` or `.isnull` - same thing!

In [23]:
df

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121046,A824073,NaN,2020-10-05 17:05:00,10/05/2020 05:05:00 PM,Manor (TX),Owner Surrender,Normal,Cat,Intact Male,1 year,Domestic Shorthair,Black,2020
121047,A824076,Duchess,2020-10-05 17:28:00,10/05/2020 05:28:00 PM,Manor (TX),Owner Surrender,Injured,Dog,Intact Female,5 years,Pit Bull,Fawn/White,2020
121048,A824083,NaN,2020-10-05 20:57:00,10/05/2020 08:57:00 PM,4400 Avenue A in Austin (TX),Public Assist,Normal,Dog,Unknown,2 years,Pit Bull,Brown/White,2020
121049,A824084,NaN,2020-10-05 20:57:00,10/05/2020 08:57:00 PM,4400 Avenue A in Austin (TX),Public Assist,Normal,Dog,Unknown,2 years,Pit Bull,Gray/White,2020
121050,A764365,Rocky,2020-10-05 22:48:00,10/05/2020 10:48:00 PM,1005 Glazier Cir in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,Maltese Mix,White/White,2020

In [24]:
# Check it - is the result what you expect?
df.isna()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Intake Year
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121046,False,True,False,False,False,False,False,False,False,False,False,False,False
121047,False,False,False,False,False,False,False,False,False,False,False,False,False
121048,False,True,False,False,False,False,False,False,False,False,False,False,False
121049,False,True,False,False,False,False,False,False,False,False,False,False,False
121050,False,False,False,False,False,False,False,False,False,False,False,False,False

In [25]:
# How can you make that result more usable?
df.isna().sum()

Animal ID               0
Name                38208
DateTime                0
MonthYear               0
Found Location          0
Intake Type             0
Intake Condition        0
Animal Type             0
Sex upon Intake         1
Age upon Intake         0
Breed                   0
Color                   0
Intake Year             0
dtype: int64

In [26]:
null_names = df['Name'].isna().sum()

In [27]:
total_rows = len(df)

In [28]:
null_names/total_rows

0.31563555856622416

In [29]:
df['Name'].isna().mean()

0.31563555856622416

### Checking for Duplicate Rows

In [30]:
# Function is called duplicated - check the documentation!
df.duplicated(keep = False).sum()

36

In [31]:
# Can use same trick as above on duplicated
df.duplicated().sum()

18

### Dropping Columns or Rows

Several different methods depending on what we're doing - but the to discuss right now is `.drop`

In [32]:
df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

In [33]:
# Let's drop the MonthYear column, which is the same as our DateTime
df = df.drop(columns='MonthYear')

In [34]:
# Check our work here...
df.head()

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

Why won't my changes save ???

Fun thing about pandas - time to discuss resetting variables, or using `inplace`

### Renaming Columns

[Documentation for `.rename`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [35]:
# Let's remove spaces from the columns, and make all column names lowercase to be easier
df.columns

Index(['Animal ID', 'Name', 'DateTime', 'Found Location', 'Intake Type',
       'Intake Condition', 'Animal Type', 'Sex upon Intake', 'Age upon Intake',
       'Breed', 'Color', 'Intake Year'],
      dtype='object')

In [36]:
new_cols = []

In [37]:
# Can use a dictionary to rename

In [38]:
# Check your work

In [39]:
list(df.columns)[0].replace(" ", "")

'AnimalID'

In [40]:
# Can also use a lambda function
df = df.rename(columns = lambda x: x.lower().replace(" ", "_"))

In [41]:
df.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

### Slicing and Dicing

Perhaps your biggest tool for exploring around your dataframes will be `.loc` (and it's accompanying `.iloc`). This allows you to use conditionals to explore your data!

In [42]:
# Example: look only at animals with intake type 'Stray'
df.loc[df['intake_type'] == 'Stray'].head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

In [43]:
# Second example: animals where the animal type is not dog
df.loc[df.animal_type != 'Dog'].head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
8,A774147,NaN,2018-06-11 07:45:00,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,2018
9,A731435,*Casey,2016-08-08 17:52:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby,2016
13,A790209,Ziggy,2019-03-06 14:31:00,4424 S Mopac Expwy in Austin (TX),Public Assist,Normal,Cat,Intact Female,4 years,Domestic Shorthair Mix,Brown Tabby/White,2019
14,A743114,NaN,2017-02-04 10:10:00,208 Beaver St in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black/White,2017

In [44]:
df.loc[df['intake_year'] < 2018].head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2017

In [45]:
# And a third - animals found before 2018
df.loc[df.intake_year < 2018].head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2017

In [46]:
df.loc[df['datetime'].dt.year < 2018].head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2017

In [47]:
# There's an implied .loc after the first df
df[df['name'] == 'Rio'].head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
12649,A697843,Rio,2017-06-28 14:13:00,Twincreek Cv in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Miniature Schnauzer/Miniature Poodle,White,2017
21159,A697843,Rio,2015-03-14 12:11:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Miniature Schnauzer/Miniature Poodle,White,2015
21871,A780206,Rio,2018-09-11 11:50:00,3411 Amalfi Cove in Austin (TX),Stray,Normal,Dog,Intact Male,6 months,Anatol Shepherd Mix,Tan/Black,2018
32431,A737833,Rio,2016-11-05 12:36:00,5801 Ainez Dr in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Labrador Retriever/Pit Bull,Chocolate/White,2016

In [48]:
df.iloc[21869:21871]

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
21869,A693578,Little Bit,2014-12-10 17:18:00,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,12 years,Domestic Shorthair Mix,Tortie,2014
21870,A674433,Coco,2014-03-13 07:13:00,4434 Frontier Trl in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,Bichon Frise Mix,White,2014

## Let's Start to Answer Questions!

#### Question 1: What is the most common Animal Type?

In [50]:
# Let's explore the Animal Type column to find out
df['animal_type'].value_counts()

Dog          68571
Cat          45495
Other         6398
Bird           566
Livestock       21
Name: animal_type, dtype: int64

In [51]:
# Another way - look above at describe, or run another describe
# 'Top' for an object column means 'most common'
df['animal_type'].describe()

count     121051
unique         5
top          Dog
freq       68571
Name: animal_type, dtype: object

#### Question 2: What is the most common dog breed to come into the shelter?

In [52]:
# Let's create a new df, dogs, for all dogs in the original data
dogs = df.loc[df['animal_type'] == 'Dog']

In [53]:
# Now it's easier to look at common dog breeds
dogs.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2017

In [54]:
dogs['breed'].value_counts()

Pit Bull Mix                                 8311
Labrador Retriever Mix                       6734
Chihuahua Shorthair Mix                      6175
German Shepherd Mix                          2939
Australian Cattle Dog Mix                    1477
                                             ...
Weimaraner/Plott Hound                          1
Catahoula/Mastiff                               1
Collie Smooth/Golden Retriever                  1
St. Bernard Rough Coat/Standard Schnauzer       1
English Bulldog/Pit Bull                        1
Name: breed, Length: 2296, dtype: int64

#### Question 3: What percentage of animals have come into the shelter in a condition other than "Normal"?

In [56]:
# Need to explore the proper column
df['intake_condition'].value_counts()

Normal      105629
Injured       6308
Sick          4844
Nursing       3392
Aged           415
Other          223
Feral          106
Pregnant        76
Medical         48
Behavior        10
Name: intake_condition, dtype: int64

In [57]:
# Want to use pandas to calculate, not inputting number manually
total_animal_count = len(df)
num_normal = df['intake_condition'].value_counts()[0]

In [59]:
# Number of animals that come in not normal is the total minus normal
not_normal = total_animal_count - num_normal
not_normal

15422

In [61]:
# Calculate percentage
not_normal / total_animal_count

0.12740084757664125

## Now - Outtake Data!

Let's explore together if we have time! If not - extra credit!